@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  margin: 0;
  font-family: 'Orbitron';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1d1d;
  color: #5c5b5b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: "150vm";
}

.contact-me:hover {
  background: "#05fdd8";
  color: "#1d1d1d";
}